.hero {
    height: 100vh;
    min-height: 600px;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(/public/assets/home_bg_best.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    color: green;
  }
  
  .hero-content {
    max-width: 800px;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.2s;
  }
  
  .hero-content h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.2;
    opacity: 0;
  }
  
  .hero-content h1 span {
    color: var(--secondary);
  }
  
  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    max-width: 600px;
    opacity: 0;
  }
  
  .hero-cta {
    display: flex;
    gap: 15px;
    opacity: 0;
  }
  
  @media screen and (max-width: 768px) {
    .hero-content h1 {
      font-size: 2.5rem;
    }
    
    .hero-content p {
      font-size: 1rem;
    }
    
    .hero-cta {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  